# Dependencias
node_modules/

# Variables de entorno (nunca subir al repo)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Builds
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# pnpm
pnpm-lock.yaml
